.messages_container {
    display: flex;
    height: 90%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 12px 0 12px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    
    .message {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        
        div {
            max-width: 80%;
            
            span {
                display: block;
                font-weight: bold;
                color: #040e29;
                margin: 0;
            }
            p{
                background-color: #0f2254;
                color: white;
                border-radius: 0px 20px 20px 20px;
                padding: 10px;
                box-sizing: border-box;
                margin: 0;
                margin-left: 12px;
            }
        }
    }
    
    .owner_message {
        justify-content: flex-end;
        
        div {
            p{
                background-color: silver;
                color: black;
                border-radius: 20px 0 20px 20px;
                padding: 10px;
                box-sizing: border-box;
                margin: 0;
                margin-right: 12px;
            }
            span {
                text-align: right;
            }
        }
    }
}



